name: frontend
description: "Direction-aware vehicle counting app"
publish_to: 'none' 

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  media_kit: ^1.1.10
  media_kit_video: ^1.2.4
  media_kit_libs_windows_video: ^1.0.9
  media_kit_libs_linux: ^1.1.0
  file_picker: ^6.1.1
  provider: ^6.0.5
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/localization/
    - assets/images/